.admin-success-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.admin-success-link:link{
    text-align: center;
    color: black;
    text-decoration: none;
    font-weight: 600;
}