.orders-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.orders-title{
    display: flex;
    flex-direction: column;
    font-size: 50px;
    margin-bottom: 25px;
}

.orders-content-container{
    display: flex;
    flex-direction: row;
    width: 70%;
    gap: 15px;
}