.container{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.navbar{
    background-color: #f1d59a;
    width: 70%;
    height: 85px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-links {
    width: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

.link-container a {
    text-decoration: none;
}

.nav-title{
    text-decoration: none;
}

.links{
    width: 100%;
    display: flex;
}

.login-link{
    margin-right: 5px;
    padding: 1px 5px;
    height: 100%;
    color:black;
    text-decoration: none;
}

.login-link:hover{
    background-color: rgba(189, 106, 23, 0.449);
    border-radius: 20px;
    color:white;
}

.profil-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
