.checkbox input {
    height: 0;
    width: 0;
}

.checkbox {
    display: block;
    position: relative;
    padding-left: 26px;
    margin-bottom: 18px;
    font-size: 17px;
    font-weight: 400;
    user-select: none;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border: 2px solid #c9c9c9;
    background-color: #ffffff;
    border-radius: 6px;
    margin-top: 3px;
}

.checkbox:hover input ~ .checkmark {
    background-color: rgb(168, 136, 114);
}
.checkbox input:checked ~ .checkmark {
    background-color: rgb(178 109 60);
}