.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-title{
    font-size: 90px;
    font-weight: 500;
    margin-bottom: 15px;
}

.home-pic-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.home-pic{
    height: 300px;
    width: 950px;
}

.home-link{
    margin-top: 30px;
    font-size: 30px;
    text-align: left;
    border-style: solid;
    border-color: #834333;
    border-radius: 45px;
    padding: 10px;
    background-color:#f1d59a;
    text-decoration: none;
    color: black;
}

.home-link:hover{
    background-color: rgba(161, 88, 14, 0.774);
    color: white;
}
