.account-tab-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.account-tab-container .data-field {
    margin-bottom: 0px;
}

.account-tab-container .data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-tab-container .type-title{
    margin-bottom: 0px;
}

.account-tab-container .data-types{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.account-tab-container .with-border{
    padding-bottom: 20px;
    border-bottom: 1px solid #834333;
}