.security-tab-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.security-tab-container .data-field {
    margin-bottom: 0px;
}

.security-tab-container .data-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.security-tab-container .type-title{
    margin-bottom: 0px;
}

.security-tab-container .data-types{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.security-tab-container .with-border{
    padding-bottom: 20px;
    border-bottom: 1px solid #834333;
}

.security-tab-container .edit-button{
    margin-left: 10px;
    color: brown;
    font-weight: 500;
}

.security-tab-container .password-markers{
    margin-top: 5px;
}